# A Quick Tour of Variables and Data Types in Python


![](https://i.imgur.com/6cg2E9Q.png)

This tutorial covers the following topics:

- Storing information using variables
- Primitive data types in Python: Integer, Float, Boolean, None and String
- Built-in data structures in Python: List, Tuple and Dictionary
- Methods and operators supported by built-in data types

## Storing information using variables

Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value.

In [1]:
my_favourite_color='blue'
my_favourite_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [2]:
color1,color2,color3='red','green','blue'
color1,color2,color3

('red', 'green', 'blue')

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [4]:
color4=color5=color6='magenta'
color4,color5,color6

('magenta', 'magenta', 'magenta')

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [5]:
my_favourite_color='red'
my_favourite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [9]:
counter=10
counter

10

In [10]:
counter=counter+1
counter

11

The pattern var = var op something (where op is an arithmetic operator like +, -, *, /) is very common, so Python provides a shorthand syntax for it.

In [12]:
counter+=4 # same as counter =counter +4
counter

19

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [13]:
a_variable=23
is_today_sunday=False
my_favourite_car='nano'
the_3_musketeers=['athos','portho','aramis']

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [15]:
a-variable=23
is today saturday=False
my_favourite%car%='nano'
3_musketeers=["Athos", "Porthos", "Aramis"]

SyntaxError: invalid decimal literal (1715069343.py, line 4)

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [16]:
type(a_variable)

int

In [17]:
type(is_today_sunday)

bool

In [18]:
type(my_favourite_car)

str

In [19]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [20]:
current_year=2022
current_year

2022

In [21]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [22]:
a_large_negative_number=-2337651654946516849847654654876516549

In [23]:
a_large_negative_number

-2337651654946516849847654654876516549

In [24]:
type(a_large_negative_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [25]:
pi=3.141592653589793238
pi,type(pi)

(3.141592653589793, float)

In [26]:
a_number=3.0
a_number,type(a_number)

(3.0, float)

In [27]:
another_number=4.
another_number,type(another_number)

(4.0, float)

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [28]:
one_hundredth=1e-2
one_hundredth,type(one_hundredth)

(0.01, float)

In [29]:
avogadro_number=6.022e23
avogadro_number,type(avogadro_number)

(6.022e+23, float)

You can convert floats into integers and vice versa using the float and int functions. The operation of converting one type of value into another is called casting.

In [30]:
float(current_year)

2022.0

In [31]:
float(a_large_negative_number)

-2.337651654946517e+36

In [32]:
int(pi)

3

In [33]:
int(avogadro_number)

602200000000000027262976

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [34]:
type(45*3.0)

float

In [35]:
type(45*3)

int

In [36]:
type(10/3)

float

In [37]:
type(3/3)

float

In [38]:
type(3//3)

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [39]:
is_today_sunday=True
is_today_sunday

True

In [40]:
type(is_today_sunday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [44]:
cost_of_ice_bag=1.25
is_ice_bag_expensive= cost_of_ice_bag>=10
is_ice_bag_expensive,type(is_ice_bag_expensive)

(False, bool)

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [45]:
int(True)

1

In [46]:
int(False)

0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [47]:
bool(False)

False

In [48]:
bool(0)

False

In [49]:
bool(0.0)

False

In [50]:
bool(None)

False

In [51]:
bool('')

False

In [52]:
bool(())

False

In [53]:
bool([])

False

In [54]:
bool({})

False

In [55]:
bool(set())

False

In [56]:
bool(range(0))

False

In [59]:
bool(1),bool('hello'),bool(2.0),bool(True),bool([1,2]),bool((2,3)),bool(range(5)),bool({1,3,6})

(True, True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [60]:
nothing=None

In [61]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [62]:
today='saturday'
today,type(today)

('saturday', str)

In [63]:
my_favourite_book="one flew over the cuckoo's nest"
my_favourite_book,type(my_favourite_book)

("one flew over the cuckoo's nest", str)

In [64]:
my_favourite_quote='"Do or Die"'
my_favourite_quote,type(my_favourite_quote)

('"Do or Die"', str)

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [ ]:
a_pun="the first time i got a universal remote control,"

1e+23